.fondo {
    background-color: rgb(41, 41, 41);
}
.row {
    align-items: stretch;
}
.indice {
    color: whitesmoke;
    font-size: xx-large;
    margin: 5%;
    border: solid white;
}
.columna {
    border: 1px solid white;
    color: white;
}
.columna img {
    max-width: 100%;
    height: auto;
}