.background {
    background-color:black;
}
.row {
    align-items: stretch;
}
.index {
    color: whitesmoke;
    font-size: xx-large;
    margin: 5%;
}
.column {
    color: white;
    margin: 0 auto;
}
.column img {
    max-width: 80%;
    align-items: center;
    height: auto;
    border: 2px solid rgb(63, 63, 63);
}
.columnfaq {
    color: white;
    justify-content: center;
}
.centered-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}